# --- Large Data & Results (Zenodo) ---
1-Datasets/External
1-Datasets/ICLE
3-Results/


# --- Data Sharing & Sensitive Info ---
5-DataSharing/
*.ai
*.RData
*.Rhistory

# --- OS/Editor Trash ---
.DS_Store
.Rproj.user/
.vscode
.cursor